---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
};

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div
    class="mx-auto prose lg:prose-lg prose-h1:font-bold prose-blue dark:prose-invert"
  >
    <span class="text-blue-400 uppercase tracking-wider text-sm lg:text-lg font-medium">
      {post.data.category}
    </span>
    <div class="not-prose">
      <h1 class="text-4xl lg:text-5xl font-bold mb-2">{post.data.title}</h1>
    </div>
    <div class="text-gray-400">
      <span>{post.data.author} • {formatDate(post.data.publishDate)}</span>
      <div class="w-full md:w-auto flex flex-wrap gap-3">
        {post.data.tags.map((tag) => <span class="text-gray-500">#{tag}</span>)}
      </div>
    </div>
    <Content />
    <div class="text-center mt-8">
      <a
        href="/blogs"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blogs</a
      >
    </div>
  </div>
</Layout>
